<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/vendor/normalize.css"/>
    <link rel="stylesheet" href="/assets/css/vendor/foundation.css"/>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <title>AirDrum - About</title>
  </head>
  <body>
    <div id="about">
      <img src="/assets/images/airdrum_text_white.png" width="20%" align="top">
      <br>
      <h3>Basis</h3>
      <p>
      AirDrum uses accelerometer data to turn your phone into a drum stick,
      allowing you to play a virtual location aware drum set. AirDrum is the creation of 
      <a href="http://github.com/eddiezane">Eddie Zaneski</a>,
      <a href="http://github.com/ilozinski">Ian Lozinski</a>, and 
      <a href="http://github.com/skodali1">Sushanth Kodali</a>.
      The initial idea was born at the HackNY Spring '13 Student Hackathon. 
      It was created in under 24 hours and took 2nd place.
      </p>

      <h3>A brief history...</h3>
      <p>
      We wanted to learn while making something cool and "useful" at the same 
      time. Having recently discovered <a href="http://g.co/super">Google 
        Chrome Super-Sync Sports</a>, which lets users use their mobile device as
      a game controller, we wanted to utilize the power of websockets. We also
      wanted to experiment with hardware so we chose accelerometers to measure
      changes in velocity and the direction the phone was facing. As it turns 
      out, HTML5 has direct access to devices' accelerometer data, so instead of
      making a native iOS or Android app, it made sense to make a webapp which would scale 
      to multiple devices. As it turns out, most Android phones do not report
      accurate accelerometer data, so iPhones deliver the best experience.
      </p>

      <div class="row text-center">
        <div class="large-centered columns">
          <h3>AirDrum was made using the following:</h3>
          <ul class="large-block-grid-3">
            <li><a href="http://nodejs.org/"><img src="/assets/images/nodejslogonew.png"></a></li>
            <li id="express"><a href="http://expressjs.com/"><img src="/assets/images/express-logo.png"></a></li>
            <li id="socket"><a href="http://socket.io/"><img src="/assets/images/socket.io-logo.png"></a></li>
            <li id="zurb"><a href="http://foundation.zurb.com/"><img src="/assets/images/zurb-logo.png"</a></li>
            <li><a href="https://www.digitalocean.com/"><img id="dig" src="https://www.digitalocean.com/assets/badges/digitalocean-vertical-eps.png" alt="DigitalOcean"/></a></li>
            <li id="jQuery"><a href="http://jquerymobile.com/"><img src="/assets/images/jquery-mobile-logo.png"></a></li>
            <li><a href="https://github.com/jakesgordon/javascript-audio-fx/"><h3>JavaScript AudioFX</h3></a></li>
            <li><a href="http://www.w3.org/TR/html5/"><img src="http://people.cs.uct.ac.za/~rdreyer/img/HTML5_Logo.svg"></a></li>
            <li><a href="https://github.com/alexgibson/shake.js/"><h3>Shake.js</h3></a></li>
          </ul>
        </div>
        <hr />
        <h3>Artwork lovingly designed by <a href="http://jeremieart.tumblr.com/">Jeremie Duval</a>.</h3>
      </div>
    </div>
  </body>
</html>
