<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/vendor/normalize.css"/>
    <link rel="stylesheet" href="/assets/css/vendor/foundation.css"/>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <title>AirDrum - About</title>
  </head>
  <body>
    <div class="row text-center">
      <div class="large-12 columns">
        <br>
        <h3>Basis</h3>
        <p>
          AirDrum uses accelerometer data to turn your phone into a drum stick,
          allowing you to play air drums that actually produce sounds. AirDrum is the creation of 
          <a href="http://github.com/eddiezane">Eddie Zaneski</a>,
          <a href="http://github.com/ilozinski">Ian Lozinski</a>, and 
          <a href="http://github.com/skodali1">Sushanth Kodali</a>.
          The initial idea was born at HackNY '13 and was created in under 24 hours.
          Since then, the app has improved and the code is much cleaner.
        </p>

        <h3>A brief history...</h3>
        <p>
          We wanted to learn while making something cool and "useful" at the same 
          time. Having recently discovered <a href="http://g.co/super">Google 
            Chrome Super-Sync Sports</a>, which lets users use their mobile device as
          a game controller, we wanted to utilize the power of websockets. We also
          wanted to experiment with hardware so we chose accelerometers to measure
          changes in velocity and the direction the phone was facing. As it turns 
          out, HTML5 has direct access to devices' accelerometer data, so instead of
          making a native iOS or Android app, it made sense to make a webapp which would scale 
          to multiple devices.
        </p>


        <div class="large-centered columns">
          AirDrum was made using the following:
          <ul class="no-bullet">
            <li>Node.js</li>
            <li>Express</li>
            <li>Socket.IO</li>
            <li>JavaScript AudioFX</li>
            <li>jQuery mobile</li>
            <li>Shake.js</li>
          </ul>
        </div>
        <p>
          The logo was designed lovingly by <a href="http://jeremieart.tumblr.com/">Jeremie Duval</a>.
        </p>
        <a href="https://www.digitalocean.com/"><img src="/assets/images/digitalocean-badge-blue.png" alt="DigitalOcean"/></a>
      </div>
    </div>
  </body>
</html>
