<!doctype html>
<html>
  <head>
    <title>Drum Set</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/assets/js/audio-fx.min.js"></script>
    <script src="/assets/js/ga.js"></script>
    <script src="/assets/js/jquery.arctext.js"></script>
    <link rel="stylesheet" href="/assets/css/vendor/normalize.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <link rel="icon" type="image/" href="/assets/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div id="container">
      <a href="https://github.com/ilozinski/airdrums"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <div id="box" align="center">
        <div id="prejoin">
          <img src="/assets/images/airdrumlogo.jpg" height="400" alt="drum set" />
          <h4><a href="/about">About</a></h4>
          <p>Go to <a href="http://airdrum.co/stick">http://airdrum.co/stick</a><br /> on your phone to play!</p>
        </div>
        <div id="postjoin">
          <canvas id="drumSet" height=450 width=450></canvas>
        </div>
        <h4 id="key">Your session ID is: </h4>
      </div>
    </div>
    <script src="/assets/js/application.js"></script>
  </body>
</html>
