body {
  background: url('/assets/images/brick-low-res.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
  color: white;
  font-size: 18px;
}

#flash {
  display: none;
}

#flash span {
  color: red;
}

#box p {
  margin-top: 12px;
  margin-bottom: 12px;
}

#box h4 {
  margin-top: 0px;
  margin-bottom: 12px;
}

#box {
  width: 40%;
  background: #000017;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 13px;
  color: #FFFFFF;
  box-shadow:0 8px 40px #000;
  border-radius: 5px;
}

#box img {
  width: 99%;
  margin-top: 5px;
  height: 100%;
  border-radius: 10px;
}

#about {
  width: 75%;
  text-align: center;
  border-radius: 10px;
  box-shadow:0 8px 40px #000;
  background: #000017;
  margin: 0 auto;
  margin-top:13px;
  margin-bottom: 23px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#about h3 {
  color: #FFFFCC;
}

#about p {
  padding: 0 5px 0 5px;
}

#container {
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 36px 
}

#container a {
  text-decoration: none;
  color: white;
}

#box a {
  text-decoration: none;
  color: #ffda47;
}

#container h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#dig {
  width: 75%;
  padding-top:25px;
  padding-bottom:50px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  vertical-align: middle;
}

li img {
  width: 80%;
  vertical-align: middle;
  border-radius: 10px;
}

#express {
  padding-top: 28px;
}

#socket {
  padding-top: 15px;
}

#zurb {
  padding-top: 85px;
}

#jQuery {
  padding-top: 50px;
}

#postjoin {
  display:none;
  padding-top: 14px;
}

#labels {
  top: 50%;
  position:absolute;
  text-align:center;
}

