body {
  background: url('/assets/images/brickbg.jpg');
  background-size: 100% 100%;
}

#box {
  width: 40%;
  background: #002200;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 13px;
  color: #FFFFFF;
  box-shadow:0 8px 40px #000;
  border-radius: 5px;
  overflow: hidden;
}

#box img {
  width: 99%;
  margin-top: 5px;
  height: 100%;
  border-radius: 10px;
}

#container {
  font-family: 'Metal Mania', cursive;
  text-align: center;
  font-size: 36px 
}


#container a {
  text-decoration: none;
  color: white;
}

#box a {
  text-decoration: none;
  color: #ffda47;
}

#container h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
