<html>
  <head>
    <title>AirDrum - About</title>
  </head>
  <body>
    AirDrum uses accelerometer data to turn your phone into a drumstick,
    allowing you to play air drums that actually produce sounds. AirDrum is the creation of 
    <a href="http://github.com/eddiezane">Eddie Zaneski</a>,
    <a href="http://github.com/skodali1">Sushanth Kodali</a>, and 
    <a href="http://github.com/ilozinski">Ian Lozinski</a>. 

    AirDrum was made using the following:
    <ul>
      <li>node.js</li>
      <li>express</li>
      <li>Socket.IO</li>
      <li>JavaScript AudioFX</li>
      <li>jQuery mobile</li>
    </ul>
    
  </body>
</html>
