<!doctype html>
<html>
  <head>
    <title>Drum Stick</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
    <script src='/assets/js/shake.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/assets/js/stick.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
  </head>
  <body>

    <form id="sessionForm" style="text-align:center;">
      <h1 style="text-align:center;"> Phone View</h1>
      <label>Enter your Session ID:</label>
      <input type="text" id="session" style="text-align:center;">
      <button onclick="joinSession($('#session').val());return false">Click Me</button>
    </form>

    <div id="kick" style="width:100%;height:400px;">
      <img src="/assets/images/bassdrum.png" alt="" style="display:block;margin-left:auto;margin-right:auto"/>
    </div>

  </body>
</html>
